<?xml version="1.0" encoding="utf-8"?>
<manifest package="ua.com.amicablesoft.android.wr"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.WorkoutReporterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.StartActivity"
                  android:launchMode="singleTop"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity">
        </activity>

        <activity
            android:name=".ui.AddPowerlifterActivity"
            android:label="@string/activity_title_new_powerlifter"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="ua.com.amicablesoft.android.wr.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths">
            </meta-data>
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8eb01c7334bd89fdd39f20b0a5700be5729be9c2"
            tools:replace="android:value"/>

    </application>

</manifest>